{% extends "base.html" %}
{% block body %}
    <form method="post">
        <select size="5" name="course_id">
            {% for item in courses %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="5" name="user_id">
            {% for item in users %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>

<a href="/">На главную</a>
{% endblock %}

